/*
 * Stylesheet for flappy bird
 */
.bird {
	background-image: url("../img/bird.png");
	background-size: 25px;
	background-repeat: no-repeat;
}

.pipeBody, .pipeHead {
	background-image: url("../img/pipe01.png");
	border: 1px solid darkgreen;
}

/*.pipeHead {
	background-repeat: no-repeat;
	background-size: 40px 10px;
}*/

.bg {
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
    background-size: 800px 400px;
}