/*
 * Stylesheet for flappy bird
 */
body {
	background-color: #635c5c;
	font-family: Verdana, sans-serif;
}
 
 .overlay {
	background-color: orange;
	border-top: 2px solid #ffd800;
	border-left: 2px solid #ffd800;
	border-bottom: 2px solid #d1b207;
	border-right: 2px solid #d1b207;
	color: #4B6D76;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
 }
 
.tap-to-start {
	padding-top: 50px;
	z-index: 101;
}
 
.bird {
	background-image: url("../img/bird.png");
	background-size: 25px;
	background-repeat: no-repeat;
	z-index:11;
}

.pipeBody, .pipe {
	background-image: url("../img/pipe01.png");
	border: 1px solid darkgreen;
	z-index:10;
}

/*.pipeHead {
	background-repeat: no-repeat;
	background-size: 40px 10px;
}*/

.bg-layer-0,
.bg-layer-1,
.bg-layer-2 {
	background-repeat: repeat-x;
}


.bg-layer-0 {
	background-image: url("../img/background-layer-0.png");
	z-index: 20;
	border-top: 1px solid #18bd18;
}

.bg-layer-1 {
	background-image: url("../img/background-layer-1.png");
	background-size: 300px 80px;
    z-index: 9;
}

.bg-layer-2 {
	background-image: url("../img/background-layer-2.png");
	background-size: 800px 400px;
}

#fps {
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	border: 1px solid black;
	color: black;
	padding: 2px;
}

.score {
	z-index: 100;
}