/*
 * Styles for breakout
 */
 .paddle {
     border: 1px solid black;
 }

 .stage {
     background-color: lightgrey;
 }

 .block {
     border: 1px solid black;
 }

 .ball {
     border: 1px solid black;
     border-radius: 5px;
 }